
body{
	font-family: Abel!important;
}

.header{
	
text-transform: uppercase;
}
.header a{
	color: black;
}


.header .top-menu{
	height:40px;
	PADDING: 10PX;
	background-color: black;
	color: white;
}
.header .top-menu a{
	color: white;
}

.header .top-menu ul{
	list-style: none;
	float: right;
}
.header .top-menu ul li{
	display:inline-block;
	min-width: 84px;
	margin-right:10px;
	BORDER-RIGHT: SOLID 1PX;
	padding-right: 26px;
}

.header .top-menu ul li:last-child{
	border:none;
}


.header .social-menu{
	/* border: solid 1px grey; */
	height: 90px;
}




.header .main-menu{
	/* border:solid 1px orange; */
	height: 58px;
}


.header .logo{
	
width: 210px;
}


.header .social-menu{
	
}

.header .social-buttons{
	float:right;
}



.header .social-buttons ul{
	list-style: none;
	float: right;
	padding: 30px 0;
}
.header .social-buttons ul li{
	display:inline-block;
	/* min-width: 84px; */
	margin-right:10px;
	BORDER-RIGHT: SOLID 1PX;
	/* text-align: center; */
	padding-right: 6px;
}

.header .social-buttons ul li:last-child{
	border:none;
}


.header  ul li.no-border{
	border:none;
}




.header .main-menu ul{
	list-style: none;
	padding: 0;
}
.header .main-menu ul li{
	float: left;
	width: 205px;
	margin-right: -1px;
	BORDER: SOLID 1PX;
	text-align: center;
	padding-top: 18px;
	height: 58px;
}

.header .main-menu ul li:first-child{
	background-color:black;
}

.header .main-menu ul li:first-child a{
	color:white;
}














.Breadcrumbs{
	font-size:16px;
	/* height: 60px; */
	padding: 18px 0;
}

.Breadcrumbs span{
	color:grey;
}

.Breadcrumbs span::after{
	content:"/";
}

.Breadcrumbs span:last-child::after{
	content:"";
}

.Breadcrumbs span:last-child{
	font-weight:bold;
	color:black;
}


.wrapper{
	width:1024px;
	margin: 0 auto;
}






.main.container{

}


.main.container .content{
	
	
}

.main.container .offers {
	width: 223px;
	float: right;
	padding: 0px;
}




.main.container .top-visual {
	background-color:grey;
	width: 690px;
	float:left;
}


.main.container .top-visual .item {
	
}

#myGoogleMap{
	height: 518px;
}

.main.container .top-visual.carousel-active #myGoogleMap {
	display:none;
}

.main.container .top-visual.map-active #myCarousel {
	display:none;
}

.main.container .top-visual.carousel-active .buttons .left {
	background:white;
	color:black;
}
.main.container .top-visual.map-active .buttons .right {
	background: #efeeee;
	color:black;
}




.main.container .top-visual .buttons a{
	width:50%;
	float:left;
	height: 66px;
	border-top: solid white 1px;
	background-color:black;
	padding: 23px 0px;
	text-align: center;
	font-size: 17px;
	text-decoration: none;
	color: white;
	cursor: pointer;
}


.main.container .top-visual .buttons a:first-child{
	border-right: solid white 1px;
}







.main.container .left-column{
	width: 692px;
	float: left;
}


.main.container .right-column{
	float: right;
	width: 290px;
}

h1{
	font-size:20px;
}

.main.container .text{
	
	
}



.main.container .atractivos{
	
	
}


.main.container .atractivos a{
	display:block;
	width: 484px;
	color: black;
	margin: 25px 10px 10px 10px;
}

.main.container .atractivos  img{
	width: 203px;
	float:left;
}
.main.container .atractivos  p{
	width: 213px;
	float:right;
}




.main.container .offers{
	
	
}

.main.container .offers .head{
background: black;
color: white;
text-align: center;
font-size: 21px;
padding: 7px;
}

.main.container .offers .product{margin-top: 32px;width: 222px;margin-bottom: 37px;}


.main.container .offers .head span{font-size:10px;display: block;margin-top: -3px;}

.main.container .offers .body{
	
	
}
.main.container .offers .addition{
	
font-size: 11px;
	
margin-top: 22px;
}

.main.container .offers #buyNow{
	
background: black;
	
color: white;
	
text-transform: uppercase;
	
margin-top: 40px;
}

.regular-price{
	font-size: 12px;
}
.regular-price span{
	text-decoration: line-through;
}

.online-price{
	font-weight:bold;
}
.online-price span{
	
}


.online-price{
	
font-size: 18px !important;
}



#btnQuote{
	background-color:black;
	color:white;
	padding: 10px 48px;
}

.clearfix{
	clear:both;
}

.grey-bg{
	background-color: #efeeee;
}

.main.container .offers .more  p{
	font-size:10px;
	font-style:italic;
}
.main.container .offers .more  ul{
	list-style: none;
	width: 221px;
	padding: 0;
	margin-top: 10px;
}
.main.container .offers .more  ul li{
	display:inline-block;
	width: 71px;
	BORDER: SOLID 1PX;
	text-align: center;
	height: 71px;
	overflow: hidden;
	padding-top: 12px;
}
.main.container .offers .more  ul li span.big{
	font-size: 20px;
	display: block;
}

.main.container .offers .more  ul li span.small{
	font-size: 9px;
	text-transform:uppercase;
	display: block;
	width: 67px;
}

.main.container .credit-card-info{
	border:solid 1px black;
	width:1000px;
	height: 116px;
	padding: 19px 22px;
	margin-top: 25px;
	text-align: center;
}

.main.container .credit-card-info p{
	font-size: 17px;
	margin: 10px;
}

.main.container .credit-card-info label{
	font-size: 14px;
	width: 124px;
	margin-top: -3px;
}
.main.container .credit-card-info img{
	/* float:right; */
}








